<header class="header bg-primary">
    <div class="container header-wrap">
        <a href="./index.html" class="logo">
            <img src="../assets/images/logo-white.png" alt="logo">
        </a>
        <ul class="nav">
            <li class="nav-list"><a href="./product.html">系列鏡框</a></li>
            <li class="nav-list"><a href="./store.html">門市據點</a></li>
            <li class="nav-list"><a href="#">部落格</a></li>
            <li class="nav-list"><a href="./question.html" class="pr-0">常見問題</a></li>
        </ul>
    </div>
</header>