// // 共用：grid system 格線系統設定
$gap: 24px;
$columns-num: 12;

.container {
  max-width: 1320px;  // 1296+24=1320，因為要讓左右邊有間距不貼齊
  margin: 0 auto;

  padding-left: $gap/2; //12px
  padding-right: $gap/2;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -($gap/2);
  margin-left: -($gap/2);
}