<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <title>系列鏡框</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <div class="container product-tab">
        <ul class="product-tab-list">
          <li class="product-tab-item">
            <a href ="#" class="product-tab-link active">OPTICAL</a>
          </li>
          <li class="product-tab-item">
            <a href ="#" class="product-tab-link">SUNGLASSES</a>
          </li>
          <li class="product-tab-item">
            <a href ="#" class="product-tab-link">FUNCTIONAL</a>
          </li>
        </ul>
      </div>

      <div class="product-banner">
        <picture class="product-banner-picture">
          <source srcset="../assets/images/product-header-sm-1.png" media="(max-width: 767px)">
          <img src="../assets/images/product-header-1.png" alt="product-banner">
        </picture>
        <picture class="product-banner-picture">
          <source srcset="../assets/images/product-header-sm-2.png" media="(max-width: 767px)">
          <img src="../assets/images/product-header-2.png" alt="product-banner">
        </picture>
      </div>

      <section class="Celluloid">
        <div class="container">
          <h2 class="Celluloid-title">Celluloid Combi</h2>
          <p class="Celluloid-subtitle">賽璐珞鈦金屬混合鏡框</p>
          <ul class="product-card">
            <li class="product-card-item">
              <img src="../assets/images/product-1.png" alt="roduct-1" class="card-img">
              <div class="product-card-detail">
                <h3 class="product-type">BJ41600S</h3>
                <span class="product-price">NTD3,490</span>
              </div>
              <div class="product-color gap-2">
                <span class="product-color-type product-color-block-dark"></span>
                <span class="product-color-type product-color-block"></span>
              </div>
            </li>
            <li class="product-card-item">
              <img src="../assets/images/product-2.png" alt="roduct-2" class="card-img">
              <div class="product-card-detail">
                <h3 class="product-type">BJ41600S</h3>
                <span class="product-price">NTD3,490</span>
              </div>
              <div class="product-color gap-2">
                <span class="product-color-type product-color-block-dark"></span>
                <span class="product-color-type product-color-block"></span>
              </div>
            </li>
            <li class="product-card-item">
              <img src="../assets/images/product-3.png" alt="roduct-2" class="card-img">
              <div class="product-card-detail">
                <h3 class="product-type">BJ41600S</h3>
                <span class="product-price">NTD3,490</span>
              </div>
              <div class="product-color gap-2">
                <span class="product-color-type product-color-block-dark"></span>
                <span class="product-color-type product-color-block"></span>
              </div>
            </li>
            <li class="product-card-item">
              <img src="../assets/images/product-4.png" alt="roduct-2" class="card-img">
              <div class="product-card-detail">
                <h3 class="product-type">BJ41600S</h3>
                <span class="product-price">NTD3,490</span>
              </div>
              <div class="product-color gap-2">
                <span class="product-color-type product-color-block-dark"></span>
                <span class="product-color-type product-color-block"></span>
              </div>
            </li>
            <li class="product-card-item">
              <img src="../assets/images/product-5.png" alt="roduct-2" class="card-img">
              <div class="product-card-detail">
                <h3 class="product-type">BJ41600S</h3>
                <span class="product-price">NTD3,490</span>
              </div>
              <div class="product-color gap-2">
                <span class="product-color-type product-color-block-dark"></span>
                <span class="product-color-type product-color-block"></span>
              </div>
            </li>
            <li class="product-card-item">
              <img src="../assets/images/product-6.png" alt="roduct-2" class="card-img">
              <div class="product-card-detail">
                <h3 class="product-type">BJ41600S</h3>
                <span class="product-price">NTD3,490</span>
              </div>
              <div class="product-color gap-2">
                <span class="product-color-type product-color-block-dark"></span>
                <span class="product-color-type product-color-block"></span>
              </div>
            </li>
            <li class="product-card-item">
              <img src="../assets/images/product-7.png" alt="roduct-2" class="card-img">
              <div class="product-card-detail">
                <h3 class="product-type">BJ41600S</h3>
                <span class="product-price">NTD3,490</span>
              </div>
              <div class="product-color gap-2">
                <span class="product-color-type product-color-block-dark"></span>
                <span class="product-color-type product-color-block"></span>
              </div>
            </li>
            <li class="product-card-item">
              <img src="../assets/images/product-8.png" alt="roduct-2" class="card-img">
              <div class="product-card-detail">
                <h3 class="product-type">BJ41600S</h3>
                <span class="product-price">NTD3,490</span>
              </div>
              <div class="product-color gap-2">
                <span class="product-color-type product-color-block-dark"></span>
                <span class="product-color-type product-color-block"></span>
              </div>
            </li>
            <li class="product-card-item">
              <img src="../assets/images/product-9.png" alt="roduct-2" class="card-img">
              <div class="product-card-detail">
                <h3 class="product-type">BJ41600S</h3>
                <span class="product-price">NTD3,490</span>
              </div>
              <div class="product-color gap-2">
                <span class="product-color-type product-color-block-dark"></span>
                <span class="product-color-type product-color-block"></span>
              </div>
            </li>
            <li class="product-card-item">
              <img src="../assets/images/product-10.png" alt="roduct-2" class="card-img">
              <div class="product-card-detail">
                <h3 class="product-type">BJ41600S</h3>
                <span class="product-price">NTD3,490</span>
              </div>
              <div class="product-color gap-2">
                <span class="product-color-type product-color-block-dark"></span>
                <span class="product-color-type product-color-block"></span>
              </div>
            </li>
            <li class="product-card-item">
              <img src="../assets/images/product-11.png" alt="roduct-2" class="card-img">
              <div class="product-card-detail">
                <h3 class="product-type">BJ41600S</h3>
                <span class="product-price">NTD3,490</span>
              </div>
              <div class="product-color gap-2">
                <span class="product-color-type product-color-block-dark"></span>
                <span class="product-color-type product-color-block"></span>
              </div>
            </li>
            <li class="product-card-item">
              <img src="../assets/images/product-12.png" alt="roduct-2" class="card-img">
              <div class="product-card-detail">
                <h3 class="product-type">BJ41600S</h3>
                <span class="product-price">NTD3,490</span>
              </div>
              <div class="product-color gap-2">
                <span class="product-color-type product-color-block-dark"></span>
                <span class="product-color-type product-color-block"></span>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <ul class="pagination">
        <li><a href="#" class="pagination-link prev">上一頁</a></li>
        <li><a href="#" class="pagination-link">1</a></li>
        <li><a href="#" class="pagination-link link-active">2</a></li>
        <li><a href="#" class="pagination-link">3</a></li>
        <li><a href="#" class="pagination-link">4</a></li>
        <li><a href="#" class="pagination-link">5</a></li>
        <li><a href="#" class="pagination-link next">下一頁</a></li>
      </ul>



    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
